.container {
  min-height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/background.jpg");
  background-size: cover;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.HomeImage {
  width: 16rem;
  height: 16rem;
  border-radius: 9999px;
  margin-bottom: 3rem;
}

.section {
  width: 100%;
  text-align: left;
  margin: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.sectionTitle {
  width: 100%;
  font-size: 2rem;
  margin: 5px 0px 5px 0px;
  order: 0;
  flex-grow: auto;
  flex-shrink: auto;
  flex-basis: auto;
}

.sectionBorder {
  size: 1px;
  width: 100%;
  order: 1;
  flex-grow: auto;
  flex-shrink: auto;
  flex-basis: auto;
}

.sectionContent {
  order: 2;
  width: 100%;
  margin: 18px 0px 18px 0px;
  font-size: 25px;
  line-height: 2;
  flex-grow: auto;
  flex-shrink: auto;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sectionLinkContent {
  order: 2;
  width: 100%;
  margin: 50px 0px 0px 0px;
  flex-grow: auto;
  flex-shrink: auto;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.linkItem {
  width: 50px;
  height: 50px;
  order: 0;
  flex-grow: auto;
  flex-shrink: auto;
  flex-basis: auto;
}